In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("df_test.csv")

In [14]:
df.head()

,developer_response,Count,label,sim_value
0,We sincerely thank you for taking the time to ...,1,NaN,0.72
1,مرحبا يسعدنا سماع ذلك وهدفنا الاول ارضاؤكم شكرا,1,NaN,0.85
2,مرحبا اشرف يسرنا سماع ذلك ونتمني ان نكون عند ح...,1,NaN,0.95
3,مرحبا عمار يسرنا سماع ذلك ونتمني ان نكون عند ح...,1,NaN,0.95
4,مرحبا توم يسرنا سماع ذلك ونتمني ان نكون عند حس...,1,Generic,0.97

In [15]:
df_c = df.copy()

In [16]:
df_c.head()

,developer_response,Count,label,sim_value
0,We sincerely thank you for taking the time to ...,1,NaN,0.72
1,مرحبا يسعدنا سماع ذلك وهدفنا الاول ارضاؤكم شكرا,1,NaN,0.85
2,مرحبا اشرف يسرنا سماع ذلك ونتمني ان نكون عند ح...,1,NaN,0.95
3,مرحبا عمار يسرنا سماع ذلك ونتمني ان نكون عند ح...,1,NaN,0.95
4,مرحبا توم يسرنا سماع ذلك ونتمني ان نكون عند حس...,1,Generic,0.97

In [17]:
c = 0
for i in range(0, len(df_c)):       
    #df.iloc[i]['developer_response']        
    if df_c.loc[i , 'sim_value'] == 0.95:
        df_c.loc[i ,'label'] = "Generic"
        #print ( df_c.loc[i]['label'])
        c += 1
    
#     if i == 100:
#         break
print (c)

1441

In [18]:
c = 0
for i in range(0, len(df_c)):       
    #df.iloc[i]['developer_response']        
    if pd.isna( df_c.loc[i , 'label']):
        df_c.loc[i ,'label'] = "Custom"
        #print ( df_c.loc[i]['label'])
        c += 1
    
#     if i == 100:
#         break
print (c)

22498

In [19]:
label_ = list(df_c['label'])

In [20]:
#search for frequencies sentnecte and count to map
mp = dict()
def count(arr, n):    
    # Traverse through array elements
    # and count frequencies
    for i in range(n):
        if arr[i] in mp.keys():
            mp[arr[i]] += 1
        else:
            mp[arr[i]] = 1
            
n = len(label_) 
print (n)
count(label_, n)

43566

In [21]:
mp

{'Custom': 22498, 'Generic': 21068}

In [23]:
df_c.to_csv("data_labeling_custom.csv", encoding='utf-8-sig', index=False , header=True)